body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App h2 {
  text-align: center;
}

.App {
  margin: 0 auto;
  width: 700px;
  border: 1px solid black;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-item {
  display: flex;
  margin: 10px;
}

.todo-item button {
  width: 100px;
  padding: 5px;
}

.todo-item button:hover {
  background: cornflowerblue;
}

.todo-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-todo-form input {
  width: 300px;
  border: none;
}

