body {
  display: flex;
  background: darkgray;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.App h2 {
  text-align: center;
}

.App {
  background: black;
  color: white;
  padding: 20px;
  width: 700px;
  min-height: 300px;
  border: 1px solid black;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-item {
  display: flex;
  margin: 10px;
}

.todo-item button {
  width: 100px;
  padding: 5px;
  margin: 0 2px 0 2px;
}

.todo-item button:hover {
  background: cornflowerblue;
}

.todo-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.todo-input-container  {

}

.edit-todo-form input {
  height: 23px;
  background: black;
  color: white;
  width: 300px;
  border: none;
}

